include ./_variables.jade
include ./_components.jade

doctype html
html(lang="en")
	+head (title)

	body
		.page
			header.header
				.header--logo #{name}#[span= position]
				.header--btns.hidden-xs: +btn-group ([{url: github, caption: 'github'}, {url: telegram, caption: 'telegram'}])
				.header--btns.hidden-xs: a(href='mailto:' + email).btn morozov@fred.md

				.header--btns.visible-xs: +btn-group ([{url: github, caption: 'github'}, {url: telegram, caption: 'telegram'}, {url: 'mailto:' + email, caption: 'email'}])

			.tiles: .row
				.col-xs-12.col-sm-6: +tile (projects, '02', 'View projects')
				.col-xs-12.col-sm-6: +tile (resume, '01', 'View resume').is-resume

			.photos: .row
				.col-xs-12.col-sm-6: +photo ('01', 'Via Dogana', 'Milan')
				.col-xs-12.col-sm-6: +photo ('02', 'Campo San Rocco', 'Venice')

			.form: form(method="POST" action=feedback).form--in: .row
				.col-xs-12.col-sm-6: .form--field: input(type="text" name="name" autocomplete="name" placeholder="Your name").input
				.col-xs-12.col-sm-6: .form--field: input(type="text" name="mail" autocomplete="email" placeholder="Your E-mail").input
				.col-xs-12
					.form--field: textarea(name="text" placeholder="Message").textarea
					.form--submit: button(type="submit").btn.is-large.is-block Send letter

		+yandex-counter

		script(type="text/javascript" src="/js/jquery-1.11.1.min.js")
		script.
			$(document).ready(function () {

				$('.form--in').on('submit', function (e) {
					e.preventDefault();

					var form = $(this);

					$.ajax({
						url: form.attr('action'),
						method: form.attr('method'),
						data: form.serialize(),
						dataType: 'text',

						success: function (r) {
							form.closest('.form').addClass('is-success');
							form.html('Thank you! I will write to you shortly.');
						}
					});

					return false;
				});

			});