include ./_variables.jade
include ./_components.jade

doctype html
html
	+head (title)

	body
		.page
			header.header
				.header--logo #{name}#[span= position]
				.header--btns.hidden-xs: +btn-group ([{url: github, caption: 'github'}, {url: telegram, caption: 'telegram'}])
				.header--btns.hidden-xs: a(href='mailto:' + email).btn morozov@fred.md

				.header--btns.visible-xs: +btn-group ([{url: github, caption: 'github'}, {url: telegram, caption: 'telegram'}, {url: 'mailto:' + email, caption: 'email'}])

			.tiles: .row
				.col-xs-12.col-sm-6: +tile (resume, '01', 'View resume').is-first
				.col-xs-12.col-sm-6: +tile (projects, '02', 'View projects')

			.photos: .row
				.col-xs-12.col-sm-6: +photo ('01', 'Via Dogana', 'Milan')
				.col-xs-12.col-sm-6: +photo ('02', 'Campo San Rocco', 'Venice')

			.form: form(method="POST" action=feedback).form--in: .row
				.col-xs-12.col-sm-6: .form--field: input(type="text" autocomplete="name" placeholder="Full name").input
				.col-xs-12.col-sm-6: .form--field: input(type="text" autocomplete="email" placeholder="E-mail").input
				.col-xs-12
					.form--field: textarea(placeholder="Message").textarea
					.form--submit: button(type="submit").btn.is-large.is-block Send letter

		+yandex-counter