include ./_variables.jade
include ./_components.jade

doctype html
html(lang="en")
	+head (title)

	body: .page
		header.header
			.header--logo #{name}#[span= position]
			.header--btns.hidden-xs: +btn-group ([{url: github, caption: 'github'}, {url: telegram, caption: 'telegram'}])
			.header--btns.hidden-xs: a(href='mailto:' + email).btn morozov@fred.md
			.header--btns.visible-xs: +btn-group ([{url: github, caption: 'github'}, {url: telegram, caption: 'telegram'}, {url: 'mailto:' + email, caption: 'email'}])

		.tiles: .row
			.col-xs-12.col-sm-6: +tile (projects, '02', 'View projects')
			.col-xs-12.col-sm-6: +tile (resume, '01', 'View resume').is-resume(target="_blank" rel="noopener noreferrer")

		.photos: .row
			.col-xs-12.col-sm-6: +photo ('01', 'Via Dogana', 'Milan')
			.col-xs-12.col-sm-6: +photo ('02', 'Campo San Rocco', 'Venice')