include ./_variables.jade
include ./_components.jade

doctype html
html(lang="en")
	+head (title)

	body
		style.
			.loader {
				position: fixed;
				top: 0; right: 0; bottom: 0; left: 0;
				z-index: 5000;
				background: white;
			}

			.loader--spinner {
				width: 50px; height: 50px;
				background: #333333;
				position: absolute;
				top: 50%; left: 50%;
				margin: -25px 0 0 -25px;
				border-radius: 25px;

				-webkit-animation: spinner 1s infinite ease-in-out;
				animation: spinner 1s infinite ease-in-out;
			}

			@-webkit-keyframes spinner {
				0% { -webkit-transform: scale(0); }
				100% {
					-webkit-transform: scale(1.0);
					opacity: 0;
				}
			}

			@keyframes spinner {
				0% {
					-webkit-transform: scale(0);
					transform: scale(0);
				}
				100% {
					-webkit-transform: scale(1.0);
					transform: scale(1.0);
					opacity: 0;
				}
			}

		.loader: .loader--spinner
		.page
			header.header
				.header--logo #{name}#[span= position]
				.header--btns.hidden-xs: +btn-group ([{url: github, caption: 'github'}, {url: telegram, caption: 'telegram'}])
				.header--btns.hidden-xs: a(href='mailto:' + email).btn morozov@fred.md
				.header--btns.visible-xs: +btn-group ([{url: github, caption: 'github'}, {url: telegram, caption: 'telegram'}, {url: 'mailto:' + email, caption: 'email'}])

			.tiles: .row
				.col-xs-12.col-sm-6: +tile (projects, '02', 'View projects')
				.col-xs-12.col-sm-6: +tile (resume, '01', 'View resume').is-resume(target="_blank" rel="noopener noreferrer")

			.photos: .row
				.col-xs-12.col-sm-6: +photo ('01', 'Via Dogana', 'Milan')
				.col-xs-12.col-sm-6: +photo ('02', 'Campo San Rocco', 'Venice')

		script.
			function fadeOut (el) {
				el.style.opacity = 1;

				(function fade() {
					if ((el.style.opacity -= .1) < 0) {
						el.style.display = "none";
					} else {
						requestAnimationFrame(fade);
					}
				})();
			}

			window.addEventListener('load', function() {
				var loader = document.querySelector('.loader');

				//fadeOut(loader);
			});