include ./_variables.jade
include ./_components.jade

doctype html
html
	+head ('Projects — ' + name)

	body
		.p-page#projects
			.p-header(v-if="dataLoaded")
				a(href=home).p-header--back Return to Fred.md

				.p-header--project: select(v-model="selectedProject" @change="selectPage")
					option(value="-1" disabled selected) Выберите проект
					option(v-for="(project, index) in projects" v-bind:value="index") {{ project.name }}

				.p-header--page: select(v-if="canRender()" v-model="selectedPage")
					option(v-for="page in projects[selectedProject].pages" v-bind:value="page") {{ page }}

			.p-frame(v-if="dataLoaded")
				iframe(v-if="canRender()" v-bind:src="getPage()")

		script(type="text/javascript" src="js/vue.js")
		script(type="text/javascript" src="js/vue-resource.js")
		script(type="text/javascript" src="js/app.js")

		+yandex-counter