include ./_variables.jade
include ./_components.jade

doctype html
html(lang="en")
	+head ('Projects — ' + name)

	body
		.projects#projects
			.toolbox(v-if="dataLoaded")
				a(href=home).toolbox--back Back to Fred.md

				.toolbox--in
					.toolbox--label Project:

					select(v-model="selectedProject" @change="selectPage")
						option(v-for="(project, index) in projects" v-bind:value="index") {{ project.name }}

				.toolbox--in(v-if="canRender()")
					.toolbox--label Page:

					select(v-model="selectedPage")
						option(v-for="page in projects[selectedProject].pages" v-bind:value="page") {{ page }}

			.frame(v-if="dataLoaded")
				iframe(v-if="canRender()" v-bind:src="getPage()")

		script(type="text/javascript" src="/js/vue.js")
		script(type="text/javascript" src="/js/vue-resource.js")
		script(type="text/javascript" src="/js/app.js")