// - Includes

@import "_mixins.less";
@import "_reset.less";




// - Fonts

@import url(https://fonts.googleapis.com/css?family=Cuprum:400,700);

@import "../fonts/icomoon/style.css";




// - Colors

@white: #ffffff;
@black: #000000;




// - Breakpoints

@screen-xs-max: 767px;

@media-xs-only: ~"(max-width: @{screen-xs-max})";




// - Global

html { min-width: auto;
	.size (auto, 100%);
}

body {
	font: normal normal 14px/20px 'Cuprum', arial, sans-serif;
	background: @black;
	color: @white;

	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;

	.min-size (320px);
	.position (relative);

	input, textarea, button { font-family: 'Cuprum', arial, sans-serif; }
	*, *:before, *:after { box-sizing: border-box; }
}




// - Components

.btn {
	border: none;
	padding: 10px 20px;
	text-align: center;
	background: @white;
	border-radius: 45px;
	color: @black;
	text-decoration: none;
	transition: 300ms all ease;
	box-shadow: 0 10px 20px 0 fade(@black, 20);

	.display (inline-block);
	.font (20px, 22px, 400);

	@media @media-xs-only { padding: 8px 20px;
		.font (17px, 20px);
	}

	i { margin: 0 10px 0 0;
		.display (inline-block);
		.font (16px, 22px);

		@media @media-xs-only { margin: 0 10px 0 0;
			.font (14px, 20px);
		}
	}

	&:hover { background: fade(@white, 70); }
	&.is-block {
		padding-left: 0;
		padding-right: 0;

		.display (block);
		.size (100%);
	}
}




// - Blocks

.page {
	background: url(../img/bg.jpg) center center no-repeat;
	background-size: cover;

	.position (fixed, 0, 0, 0, 0);

	&:before {
		content: "";
		background: @black;
		opacity: 0.5;

		.display (block);
		.position (absolute, 0, 0, 0, 0);
	}

	&--in {
		text-align: center;
		transform: translate(0, -50%);

		.position (absolute, 50%, 30px, auto, 30px);
	}

	&--title { .font (100px, 120px, 700);
		@media @media-xs-only { .font (60px, 60px); }
	}

	&--socials { margin: 24px 0 40px;
		.font (0);

		@media @media-xs-only { margin: 20px 0 18px; }
	}

	&--btn { text-align: center; }
}

.social {
	margin: 0 10px;
	padding: 0 10px;
	color: @white;
	text-decoration: none;
	transition: 300ms all ease;

	.display (inline-block);
	.position (relative);
	.font (26px, 50px);

	@media @media-xs-only {
		padding: 0 13px;
		margin: 0;

		.font (22px, 50px);
	}

	&:hover { color: fade(@white, 40); }
}

.copyrights {
	opacity: 0.7;
	color: fade(@white, 50);
	letter-spacing: 0.5px;

	.position (absolute, auto, 15px, 10px, 15px);
	.font (14px, 20px);

	@media @media-xs-only { .font (13px, 20px); }

	span { color: @white; }
}




// - Responsive hacks

.visible-xs { .display (none); }

@media @media-xs-only {
	.visible-xs { .display (block); }
	.visible-xs-ib { .display (inline-block); }

	.hidden-xs { .display (none)!important; }
}