-// Global

- var css_hash = Math.random().toString(36).substring(7)

- var name        = 'Fred Morozov 🔥'
- var position    = 'Frontend Developer'
- var company     = ''
- var company_url = ''

- var email       = 'morozov@fred.md'
- var twitter     = 'fredmorozov'




-// Links

- var github    = 'https://github.com/irbisdev'
- var telegram  = 'https://t.me/irbisdev'

- var home      = '/'
- var resume    = 'https://moikrug.ru/morfedor'
- var projects  = '/projects/'




-// Meta tags

- var title            = name + ' — ' + position

- var meta_description = 'Hi. I\'m Fred, I make apps. Frontend developer located in Russia.'
- var meta_keywords    = 'Developer, Front End, Frontend, Front-End, Front End Developer, Front-End Developer, Frontend Developer, React, React.js, React Native, iOS, Android, Swift, Kotlin, Vue, Vue.js, Jade, LESS, CSS, HTML'

- var og_title         = title
- var og_url           = 'https://fred.md/'
- var og_description   = meta_description
- var og_image         = 'https://fred.md/static/img/og.jpg'